In [107]:
from sklearn.preprocessing import OneHotEncoder
color=['red','green','blue','yellow','red']

In [108]:
import pandas as pd
df=pd.DataFrame(color,columns=['color'])

In [109]:
df

    color
0     red
1   green
2    blue
3  yellow
4     red

In [110]:
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df).toarray()

In [111]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [112]:
encoder_df

   color_blue  color_green  color_red  color_yellow
0         0.0          0.0        1.0           0.0
1         0.0          1.0        0.0           0.0
2         1.0          0.0        0.0           0.0
3         0.0          0.0        0.0           1.0
4         0.0          0.0        1.0           0.0

In [113]:
pd.concat([df,encoder_df],axis=1)

    color  color_blue  color_green  color_red  color_yellow
0     red         0.0          0.0        1.0           0.0
1   green         0.0          1.0        0.0           0.0
2    blue         1.0          0.0        0.0           0.0
3  yellow         0.0          0.0        0.0           1.0
4     red         0.0          0.0        1.0           0.0

In [114]:
df

    color
0     red
1   green
2    blue
3  yellow
4     red

In [115]:
# label encoder
from sklearn.preprocessing import LabelEncoder


label_encoder=LabelEncoder()

In [116]:
label_encoder.fit_transform(df['color'])

# label_encoder.fit(['red', 'green', 'blue'])

array([2, 1, 0, 3, 2])

In [117]:
label_encoder.transform([['yellow']])

C:\Users\ddurande\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([3])

In [118]:
# label_encoder.transform([['pink']])

In [119]:
label_encoder.fit_transform([['red']])

C:\Users\ddurande\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0], dtype=int64)

In [120]:
# Label encoder assigns numerical values any
# but if there is need of rank only then we use this ordinal encoding

In [121]:
# when we have to assign with rank then we use ordinal encoding only when rank is necessary we use ordinal encoding

In [122]:
level=['small','medium','large','medium','large']
df=pd.DataFrame(level,columns=['size'])

In [123]:
df

     size
0   small
1  medium
2   large
3  medium
4   large

In [124]:
from sklearn.preprocessing import OrdinalEncoder

In [125]:
df['size']

0     small
1    medium
2     large
3    medium
4     large
Name: size, dtype: object

In [126]:
encoder=OrdinalEncoder(categories=[['small','medium','large']])

encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [2.]])

In [127]:
# target guided ordinal value

import pandas as pd

# Sample data
data = {
    'city': ['Mumbai', 'Delhi', 'Bangalore', 'Chennai', 'Kolkata','Mumbai'],
    'price': [25000, 22000, 27000, 21000, 20000,3000]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display
print(df)

        city  price
0     Mumbai  25000
1      Delhi  22000
2  Bangalore  27000
3    Chennai  21000
4    Kolkata  20000
5     Mumbai   3000

In [128]:
df

        city  price
0     Mumbai  25000
1      Delhi  22000
2  Bangalore  27000
3    Chennai  21000
4    Kolkata  20000
5     Mumbai   3000

In [129]:
mean_price=df.groupby('city')['price'].mean().to_dict()

In [130]:
mean_price

{'Bangalore': 27000.0,
 'Chennai': 21000.0,
 'Delhi': 22000.0,
 'Kolkata': 20000.0,
 'Mumbai': 14000.0}

In [131]:
df['city_encoded']=df['city'].map(mean_price)

In [132]:
df

        city  price  city_encoded
0     Mumbai  25000       14000.0
1      Delhi  22000       22000.0
2  Bangalore  27000       27000.0
3    Chennai  21000       21000.0
4    Kolkata  20000       20000.0
5     Mumbai   3000       14000.0