In [4]:
import pandas as pd
from io import StringIO
df=pd.read_json('data.json')
df

   id           name  age                      email          city
0   1  Alice Johnson   28  alice.johnson@example.com      New York
1   2      Bob Smith   34      bob.smith@example.com   Los Angeles
2   3  Charlie Davis   25  charlie.davis@example.com       Chicago
3   4    Diana Evans   31    diana.evans@example.com       Houston
4   5    Ethan Brown   29    ethan.brown@example.com       Phoenix
5   6   Fiona Wilson   27   fiona.wilson@example.com  Philadelphia
6   7   George Clark   33   george.clark@example.com   San Antonio
7   8   Hannah Lewis   26   hannah.lewis@example.com     San Diego
8   9     Ian Walker   30     ian.walker@example.com        Dallas
9  10     Julia Hall   32     julia.hall@example.com      San Jose

In [ ]:
# ?converting back to json 
df.to_json()
# Orient parameter by default here it is index that's why it is giving data with indexes

'{"id":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10},"name":{"0":"Alice Johnson","1":"Bob Smith","2":"Charlie Davis","3":"Diana Evans","4":"Ethan Brown","5":"Fiona Wilson","6":"George Clark","7":"Hannah Lewis","8":"Ian Walker","9":"Julia Hall"},"age":{"0":28,"1":34,"2":25,"3":31,"4":29,"5":27,"6":33,"7":26,"8":30,"9":32},"email":{"0":"alice.johnson@example.com","1":"bob.smith@example.com","2":"charlie.davis@example.com","3":"diana.evans@example.com","4":"ethan.brown@example.com","5":"fiona.wilson@example.com","6":"george.clark@example.com","7":"hannah.lewis@example.com","8":"ian.walker@example.com","9":"julia.hall@example.com"},"city":{"0":"New York","1":"Los Angeles","2":"Chicago","3":"Houston","4":"Phoenix","5":"Philadelphia","6":"San Antonio","7":"San Diego","8":"Dallas","9":"San Jose"}}'

In [10]:
df.to_json(orient='id')

ValueError: Invalid value 'id' for option 'orient'

In [ ]:
data=df.set_index('id').to_json(orient='id')

In [13]:
data

[{'id': 1,
  'name': 'Alice Johnson',
  'age': 28,
  'email': 'alice.johnson@example.com',
  'city': 'New York'},
 {'id': 2,
  'name': 'Bob Smith',
  'age': 34,
  'email': 'bob.smith@example.com',
  'city': 'Los Angeles'},
 {'id': 3,
  'name': 'Charlie Davis',
  'age': 25,
  'email': 'charlie.davis@example.com',
  'city': 'Chicago'},
 {'id': 4,
  'name': 'Diana Evans',
  'age': 31,
  'email': 'diana.evans@example.com',
  'city': 'Houston'},
 {'id': 5,
  'name': 'Ethan Brown',
  'age': 29,
  'email': 'ethan.brown@example.com',
  'city': 'Phoenix'},
 {'id': 6,
  'name': 'Fiona Wilson',
  'age': 27,
  'email': 'fiona.wilson@example.com',
  'city': 'Philadelphia'},
 {'id': 7,
  'name': 'George Clark',
  'age': 33,
  'email': 'george.clark@example.com',
  'city': 'San Antonio'},
 {'id': 8,
  'name': 'Hannah Lewis',
  'age': 26,
  'email': 'hannah.lewis@example.com',
  'city': 'San Diego'},
 {'id': 9,
  'name': 'Ian Walker',
  'age': 30,
  'email': 'ian.walker@example.com',
  'city': 'Dallas'},
 {'id': 10,
  'name': 'Julia Hall',
  'age': 32,
  'email': 'julia.hall@example.com',
  'city': 'San Jose'}]

In [14]:
data=pd.DataFrame(data)

In [16]:
data.to_csv("dummy.csv")

In [18]:
!pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Collecting lxml
  Downloading lxml-5.4.0-cp312-cp312-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.4.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   - -------------------------------------- 0.2/3.8 MB 2.3 MB/s eta 0:00:02
   ------- -------------------------------- 0.7/3.8 MB 6.7 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/3.8 MB 8.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.9/3.8 MB 9.5 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 10.5 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 11.4 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 11.1 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.4.0

WARNING: Ignoring invalid distribution ~ensorflow (C:\Users\ddurande\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~ensorflow (C:\Users\ddurande\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~ensorflow (C:\Users\ddurande\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~ensorflow (C:\Users\ddurande\AppData\Roaming\Python\Python312\site-packages)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
url="https://www.fdic.gov/bank-failures/failed-bank-list"

df=pd.read_html(url)
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [23]:
df=pd.DataFrame(df)

ValueError: Must pass 2-d input. shape=(1, 10, 7)

In [26]:
url="https://en.wikipedia.org/wiki/Mobile_country_code"
df=pd.read_html(url)
df[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"

In [27]:
# If we want to match keysword means want to find specific table by matching keyword
df=pd.read_html(url,match="Remarks")
df[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [30]:
df=pd.read_excel("process_allocation (6) - Copy.xlsx")

In [31]:
df.head()

,Station No,Activity No,Activity details,Category (Manual / SemiAuto / Auto),CT,Status,VA / NVA / ENVA,Assigned Workstation
0,10,1,Visual inspects & comfirm modelwise,Manual,2,CA,NVA,Station 1
1,10,2,Visual inspects & comfirm oil sel protect cap,Manual,2,CA,NVA,Station 2
2,10,3,Ensure barcode sticker & punching no. same,Manual,2,CA,NVA,Station 3
3,10,4,Within reach grasp the pallet lock & turn the ...,Manual,4,CA,ENVA,Station 4
4,10,5,Within reach get the R/H by both hands from S/...,Manual,3,CA,ENVA,Station 5

In [32]:
df_pkl=pd.read_excel("process_allocation (6) - Copy.xlsx")

In [36]:
df_pkl.to_pickle("pkl_file.pkl")

In [37]:
pkl_data=pd.read_pickle("pkl_file.pkl")

In [38]:
pkl_data

,Station No,Activity No,Activity details,Category (Manual / SemiAuto / Auto),CT,Status,VA / NVA / ENVA,Assigned Workstation
0,10,1,Visual inspects & comfirm modelwise,Manual,2,CA,NVA,Station 1
1,10,2,Visual inspects & comfirm oil sel protect cap,Manual,2,CA,NVA,Station 2
2,10,3,Ensure barcode sticker & punching no. same,Manual,2,CA,NVA,Station 3
3,10,4,Within reach grasp the pallet lock & turn the ...,Manual,4,CA,ENVA,Station 4
4,10,5,Within reach get the R/H by both hands from S/...,Manual,3,CA,ENVA,Station 5
...,...,...,...,...,...,...,...,...
108,60,109,"Within reach, place layshaft into layshaft cav...",Manual,4,CA,VA,Station 5
109,60,110,"Within reach, get 1/2 shifter shaft by LH and ...",Manual,4,CA,VA,Station 4
110,60,111,"Within reach, get 5th gear and reverse gear by...",Manual,6,CA,ENVA,Station 7
111,60,112,"Within reach, place the two gears on pallet st...",Manual,6,CA,ENVA,Station 2
112,60,113,Ensure proper placement of Lay shaft & Input s...,Manual,2,CA,NVA,Station 3